# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VENV
# =========================

venv/
.env/

# =========================
# DATABASE
# =========================

*.db
memory.db
taskdeqbot.db

# =========================
# UPLOAD FILE
# =========================

uploads/
upload/

# =========================
# SECRET
# =========================

.env
.env.local
config.secret
secret.json

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# WINDOWS
# =========================

desktop.ini
Thumbs.db

# =========================
# CACHE
# =========================

.cache/

# =========================
# LOG
# =========================

*.log